ul{
    padding-top: 20px;
    list-style-type: none;
}
.nav-tabs li {
    font-size: 30px;
}

li{
    font-size: 15px;
}
h1{
    font-size: 30px;
}
body{
    background: url("../img/bg.png");
}
a{
    color: red;
}
strong{
    font-size: 20px;
}
.agenda-items{
    padding: 50px 0;
}
.agenda-item{
    padding: 15px;
    border: 1px solid rgb(90, 90, 90);
    margin: 0 5px 5px 6px;
    background: #FFF;
    position: relative;
    text-align: center;
}
#agenda-submit{
    width: 150px;
    cursor: pointer;
}
.delete{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgb(120, 120, 120);
    padding: 10px;
    color: rgb(200, 200, 200);
    display: none;
    cursor: pointer;
    border: none;
}
.adjust{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgb(120, 120, 120);
    padding: 10px;
    color: rgb(200, 200, 200);
    display: none;
    cursor: pointer;
    border: none;
}
.agenda-item:hover .delete{
    display: block;
}
.agenda-item:hover .adjust {
    display: block;
}