.content, html, body{
	height: 20000px;
	margin: 0;
}

.content{
	margin-top: 50px;
}

.menu{
	background-color: yellow;
	opacity: .2;
	position: fixed;
	width: 100%;
	padding: 10px;
}

.menu:hover{
	opacity: 1 !important;
}