/*----------------------------------------Main----------------------------------------*/

@font-face {
    font-family: 'Schluber';
    src: url('../Font/Schluber.eot');
    src: url('../Font/Schluber.eot?#iefix') format('embedded-opentype'),
    url('../Font/Schluber.woff2') format('woff2'),
    url('../Font/Schluber.woff') format('woff'),
    url('../Font/Schluber.ttf') format('truetype'),
    url('../Font/Schluber.svg#font/Schluber') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url("../Img/Background/Background_Placeholder.jpg");
    background-size:auto;
    color: #FFFFFF;
    font-family: 'Schluber';
    text-align: center;
}

h1{
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 50px;
    margin: 0;
}

h3 {
    font-size: 35px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 30px;
}

h4 {
    font-size: 25px;
    margin: 0;
}

h5 {
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 20px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr td:first-of-type {
    border-radius: 6px 0 0 6px;
}

tr td:last-of-type {
    border-radius: 0 6px 6px 0;
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(255,255,255,0.5);
}

table th {
    padding-right: 10px;
}

.pagenation {
    padding-top: 10px;
}

.container{
    margin-top: 175px;
}

/*----------------------------------------Header----------------------------------------*/

.main-head{
    background-image: url("../Img/Banner/banner_background_01.jpg");
    height: 175px;
    position: fixed;
    width: 65%;
    left: 17.5%;
    top: 0;
    opacity: 0.1;
}

@media screen and (max-width: 860px){
    .main-head{
        height: 125px;
    }

    header h1{
        font-size: 37.5px;
    }

    header nav a{
        visibility: hidden;
    }
}

.main-head:hover{
    opacity: 1 !important;
}

nav{
    font-size: 25px;
    align-items: center;
    padding: 25px;
}

nav a{
    background: black;
    border: solid 1px;
    box-shadow: 10px 10px 75px white;
    margin: 5px;
    padding: 5px;
}

.logo img{
    width: 75px;
    height: 75px;
}

.logo{
    display: flex;
    justify-content:center;
}

/*----------------------------------------Intro----------------------------------------*/

.intro{
    /*background-image: url("../Img/Background/Back_01.jpg");*/
}

.Content{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 720px){
    .Content{
        display: flex;
        flex-direction: column;
    }
}


.intro .description, .intro .extra{
    margin: 5%;
    max-width: 750px;
}

.intro .Content .description p{
    text-align: left;
}

.intro .extra ul{
    text-align: left;
    list-style: none;
}

@media screen and (max-width: 720px){

    .intro .Content .description p{
        text-align: center;
    }
}

/*----------------------------------------Group----------------------------------------*/

.Group{
    /*background-image: url("../Img/Background/Back_02.jpg");*/
}

.Group h2{
    margin: 0;
}

.information{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.team{
    display: flex;
    justify-content: center;
    margin: 35px;
}

@media screen and (max-width: 720px){
    .team{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.member{
    margin: 15px;
    padding: 15px;
    width: 250px;
    height: auto;
}

.describe_Member{
    margin: 15px;
}

.member:hover{
    border-radius: 35px;
    background: white;
    color: black;
}

.member img{
    margin: 15px;
    padding-left: 25%;
    padding-right: 25%;
    width: 50px;
    height: 75px;
}

/*----------------------------------------Tournament----------------------------------------*/

/*----------------------------------------Poules----------------------------------------*/

.poules {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/*----------------------------------------Matches----------------------------------------*/

.matches {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

@media screen and ( max-width: 1300px ) {
    .matches {
        display: flex;
        flex-direction: column;
    }
}

@media screen and ( max-width: 730px ) {
    .poules {
        display: flex;
        flex-direction: column;
    }
}

/*----------------------------------------Teams----------------------------------------*/